USE [master]
GO
/****** Object:  Database [jobApplicationService]    Script Date: 11/6/2023 3:17:29 AM ******/
CREATE DATABASE [jobApplicationService]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'jobApplicationService', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\jobApplicationService.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'jobApplicationService_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\jobApplicationService_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [jobApplicationService].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [jobApplicationService]
GO
/****** Object:  Table [dbo].[JobApplication]    Script Date: 11/6/2023 3:17:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobApplication](
	[ApplicationID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[JobID] [int] NULL,
	[ApplyDate] [datetime] NULL,
	[IsDelete] [int] NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK_JobApplication] PRIMARY KEY CLUSTERED 
(
	[ApplicationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[JobApplication] ON 

INSERT [dbo].[JobApplication] ([ApplicationID], [UserID], [JobID], [ApplyDate], [IsDelete], [Status]) VALUES (1, 2, 1, CAST(N'2023-11-03T00:00:00.000' AS DateTime), 1, N'Waiting')
INSERT [dbo].[JobApplication] ([ApplicationID], [UserID], [JobID], [ApplyDate], [IsDelete], [Status]) VALUES (2, 3, 4, CAST(N'2023-11-03T00:00:00.000' AS DateTime), 1, N'Waiting')
INSERT [dbo].[JobApplication] ([ApplicationID], [UserID], [JobID], [ApplyDate], [IsDelete], [Status]) VALUES (3, 2, 2, CAST(N'2023-11-03T00:00:00.000' AS DateTime), 1, N'Waiting')
SET IDENTITY_INSERT [dbo].[JobApplication] OFF
GO
USE [master]
GO
