USE [master]
GO
/****** Object:  Database [jobService]    Script Date: 11/6/2023 8:35:35 PM ******/
CREATE DATABASE [jobService]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'jobService', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\jobService.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'jobService_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\jobService_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [jobService].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [jobService]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 11/6/2023 8:35:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NULL,
	[IsDelete] [int] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Job]    Script Date: 11/6/2023 8:35:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job](
	[JobID] [int] IDENTITY(1,1) NOT NULL,
	[BusinessID] [int] NULL,
	[PostDate] [datetime] NULL,
	[JobTitle] [nvarchar](100) NULL,
	[JobDetail] [nvarchar](max) NULL,
	[Salary] [nvarchar](100) NULL,
	[Address] [nvarchar](100) NULL,
	[JobRequirement] [nvarchar](max) NULL,
	[Skills] [nvarchar](max) NULL,
	[Website] [nvarchar](100) NULL,
	[Nationality] [nvarchar](50) NULL,
	[YearExperience] [int] NULL,
	[ContractType] [nvarchar](50) NULL,
	[IsDelete] [int] NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK_Job] PRIMARY KEY CLUSTERED 
(
	[JobID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobCategory]    Script Date: 11/6/2023 8:35:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobCategory](
	[JobID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
 CONSTRAINT [PK_JobCategory_1] PRIMARY KEY CLUSTERED 
(
	[JobID] ASC,
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobRank]    Script Date: 11/6/2023 8:35:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobRank](
	[JobID] [int] NOT NULL,
	[RankID] [int] NOT NULL,
 CONSTRAINT [PK_JobRank] PRIMARY KEY CLUSTERED 
(
	[JobID] ASC,
	[RankID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rank]    Script Date: 11/6/2023 8:35:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rank](
	[RankID] [int] IDENTITY(1,1) NOT NULL,
	[RankName] [nvarchar](50) NULL,
	[IsDelete] [int] NULL,
 CONSTRAINT [PK_Rank] PRIMARY KEY CLUSTERED 
(
	[RankID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wishlists]    Script Date: 11/6/2023 8:35:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wishlists](
	[WishlistID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[JobID] [int] NULL,
	[IsDelete] [int] NULL,
 CONSTRAINT [PK_Wishlists] PRIMARY KEY CLUSTERED 
(
	[WishlistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [CategoryName], [IsDelete]) VALUES (1, N'C++
', 1)
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [IsDelete]) VALUES (2, N'C#
', 1)
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [IsDelete]) VALUES (3, N'Java
', 1)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Job] ON 

SET IDENTITY_INSERT [dbo].[Job] OFF
GO
INSERT [dbo].[JobCategory] ([JobID], [CategoryID]) VALUES (1, 1)
INSERT [dbo].[JobCategory] ([JobID], [CategoryID]) VALUES (1, 2)
INSERT [dbo].[JobCategory] ([JobID], [CategoryID]) VALUES (2, 1)
GO
INSERT [dbo].[JobRank] ([JobID], [RankID]) VALUES (1, 2)
INSERT [dbo].[JobRank] ([JobID], [RankID]) VALUES (1, 3)
INSERT [dbo].[JobRank] ([JobID], [RankID]) VALUES (2, 7)
GO
SET IDENTITY_INSERT [dbo].[Rank] ON 

INSERT [dbo].[Rank] ([RankID], [RankName], [IsDelete]) VALUES (1, N'Fresher
', 0)
INSERT [dbo].[Rank] ([RankID], [RankName], [IsDelete]) VALUES (2, N'Senior
', 0)
INSERT [dbo].[Rank] ([RankID], [RankName], [IsDelete]) VALUES (3, N'Mid-level
', 0)
SET IDENTITY_INSERT [dbo].[Rank] OFF
GO
SET IDENTITY_INSERT [dbo].[Wishlists] ON 

INSERT [dbo].[Wishlists] ([WishlistID], [UserID], [JobID], [IsDelete]) VALUES (46, 4, 2, 0)
INSERT [dbo].[Wishlists] ([WishlistID], [UserID], [JobID], [IsDelete]) VALUES (47, 4, 3, 0)
INSERT [dbo].[Wishlists] ([WishlistID], [UserID], [JobID], [IsDelete]) VALUES (49, 4, 1, 0)
SET IDENTITY_INSERT [dbo].[Wishlists] OFF
GO
ALTER TABLE [dbo].[JobCategory]  WITH CHECK ADD  CONSTRAINT [FK_JobCategory_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[JobCategory] CHECK CONSTRAINT [FK_JobCategory_Category]
GO
ALTER TABLE [dbo].[JobCategory]  WITH CHECK ADD  CONSTRAINT [FK_JobCategory_Job] FOREIGN KEY([JobID])
REFERENCES [dbo].[Job] ([JobID])
GO
ALTER TABLE [dbo].[JobCategory] CHECK CONSTRAINT [FK_JobCategory_Job]
GO
ALTER TABLE [dbo].[JobRank]  WITH CHECK ADD  CONSTRAINT [FK_JobRank_Job] FOREIGN KEY([JobID])
REFERENCES [dbo].[Job] ([JobID])
GO
ALTER TABLE [dbo].[JobRank] CHECK CONSTRAINT [FK_JobRank_Job]
GO
ALTER TABLE [dbo].[JobRank]  WITH CHECK ADD  CONSTRAINT [FK_JobRank_Rank] FOREIGN KEY([RankID])
REFERENCES [dbo].[Rank] ([RankID])
GO
ALTER TABLE [dbo].[JobRank] CHECK CONSTRAINT [FK_JobRank_Rank]
GO
ALTER TABLE [dbo].[Wishlists]  WITH CHECK ADD  CONSTRAINT [FK_Wishlists_Job] FOREIGN KEY([JobID])
REFERENCES [dbo].[Job] ([JobID])
GO
ALTER TABLE [dbo].[Wishlists] CHECK CONSTRAINT [FK_Wishlists_Job]
GO
USE [master]
GO
