@using Microsoft.AspNetCore.Http;
@model UserService.Models.User

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var role = Context.Session.GetString("MyRole");
}

<h1>Edit</h1>

<h4>Profile</h4>
<hr />
<form asp-action="Edit" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="BusinessProfile.BusinessId" type="hidden" />
            <input asp-for="UserId" type="hidden" />
            <input asp-for="BusinessProfile.UserId" type="hidden" />
            <input asp-for="Password" type="hidden" />
            <input asp-for="UserType" type="hidden" />
            <input asp-for="IsDelete" type="hidden" />
            <div class="form-group">
                <label asp-for="UserName" class="control-label col-md-2"></label>
                <input asp-for="UserName" class="form-control col-md-10" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label col-md-2"></label>
                <input asp-for="Email" class="form-control col-md-10" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Address" class="control-label col-md-2"></label>
                <input asp-for="Address" class="form-control col-md-10" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Phone" class="control-label col-md-2"></label>
                <input asp-for="Phone" class="form-control col-md-10" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            @if (role == "Employer")
            {
                <div class="form-group">
                    <label asp-for="BusinessProfile.CompanyName" class="control-label col-md-2"></label>
                    <input asp-for="BusinessProfile.CompanyName" class="form-control col-md-10" />
                    <span asp-validation-for="BusinessProfile.CompanyName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BusinessProfile.AboutCompany" class="control-label col-md-2"></label>
                    <input asp-for="BusinessProfile.AboutCompany" class="form-control col-md-10" />
                    <span asp-validation-for="BusinessProfile.AboutCompany" class="text-danger"></span>
                </div>
            }
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="ImageProfile" class="control-label col-md-2"></label>                
                <div class="col-md-10">
                    <img id="preview" src="/@ViewBag.ImgSrc" style="width:350px;height:350px; object-fit:cover" class="hidden" />
                    <input asp-for="ImageProfile" class="form-control" type="file" accept=".png,.jpg,.jpeg,.gif,.tif" id="image" name="image" />
                </div>
                <span asp-validation-for="ImageProfile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cvprofile" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <input type="file" accept=".pdf" asp-for="Cvprofile" class="form-control" id="cv" name="cv" />
                    <a class="btn btn-outline-primary" href="/@ViewBag.CvSrc" target="_blank">Read</a>
                    <span asp-validation-for="Cvprofile" class="text-danger"></span>
                </div>
            </div>
        </div>
        <input type="submit" value="Edit" class="btn btn-primary" />
    </div>
</form>
@section Scripts {
    <script>
        $("#image").change(function () {
            var input = this;

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    // Set the 'src' attribute of the 'preview' image to the selected image
                    $("#preview").attr("src", e.target.result);
                    $("#preview").removeClass("hidden"); // Show the image preview
                };

                reader.readAsDataURL(input.files[0]);
            }
        });
    </script>
}

